{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{APP_NAME}}{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="">
  <meta name="csrf-token" content="{{csrf_token}}">

  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- styles -->
  <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
  {% block extra_head_css %}{% endblock %}

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">
  <!-- scripts -->
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
  {% block extra_head_js %}{% endblock %}
</head>
<body>
    <div id="messages" {% if not messages %}class="hide"{% endif %}>
      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{message.tags}}{% endif %}">
        <a class="close" href="#" data-dismiss="alert">&times;</a>
        <p>{{message}}<p>
        </div>
        {% endfor %}
        <script type="text/javascript">
        $(".alert").delay(5000).fadeOut();
        </script>
        {% endif %}
    </div>

    {% block content %}{% endblock %}
</body>
</html>